*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body{
  width: 100%;
}

.box {
  height: 50px;
  width: 50px;
  background-color: aqua;
  border: 5px solid white;
  border-right: 5px solid blue;
  border-radius: 50%;
  animation: rotate 2s linear infinite;
}

.spinner{ 
  position: relative;
  transform-origin: center;
  animation: rotate 2s linear infinite;
  width: 50px;
}

.spinner img{
  width: 50px;
}

@keyframes rotate {
100%{
    transform: rotate(360deg)
}
}
