*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body{
  width: 100%;
}

.box {
  height: 50px;
  width: 50px;
  background-color: aqua;
  border: 5px solid white;
  border-right: 5px solid blue;
  border-radius: 50%;
  animation: rotate 2s linear infinite;
}

.spinner{ 
  position: relative;
  transform-origin: center;
  animation: rotate 2s linear infinite;
  width: 50px;
}

.spinner img{
  width: 50px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#patate{
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 60px;
  animation: BoumBoum 2s linear infinite ;
}

#patate:hover{
    animation: rotate 1s linear;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 20px;
}

.heart {
  position: relative;
  width: 100px;
  height: 90px;
  animation: heartbeat 2s linear infinite;
}

.heart__left, .heart__right {
  position: absolute;
  width: 50px;
  height: 80px;
  background-color: red;
  border-radius: 50% 50% 0 0;
  transform: rotate(45deg);
}

.heart__left {
  top: 0;
  left: 42px;
  transform: rotate(45deg);
}

.heart__right {
  top: 0;
  left: 20px;
  transform: rotate(-45deg);
}

@keyframes heartbeat {
  0% {
    transform: translate(0, 0);
    transform: scale(1);
    
  }
  2%{
    transform: scale(2);
  }

  4%{
    transform: scale(1);
  }
  
  20% {
    
      transform: translate(0, -150px);
  }
  40% {
    transform: translate(-70px, -150px);
}
  60% {
      transform: translate(70px, -150px);
  }
  80% {
      transform: translate(0, -150px);
  }
  100% {
    transform: translate(0, 0);
}
}


@keyframes rotate {
100%{
    transform: rotate(360deg)
}
}

@keyframes BoumBoum {
  33%{
    color: red;
  }
  66%{
    color: blue;
  }
  100%{
    color: red;
    transform: scale(2);
  }
}